PUBLIC_APP_NAME="SvelteKit E-Commerce"

JWT_SECRET=2d95fdd5220230d463c5ddb46ef44b20

DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=sveltekitecommerce
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_TABLE_PREFIX=skec
DATABASE_REJECT_UNAUTHORIZED=0
DATABASE_AUTOMATIC_MIGRATION=1

FILESYSTEM_DISK=local
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_REGION=
S3_BUCKET=
S3_DIRECTORY=sveltekitecommerce-local

UPSTASH_REDIS_REST_TOKEN=
UPSTASH_REDIS_REST_URL=
